.code {
  background-color: #FCF5DD;
}

/* ---- backgrounds ---- */
article.start::before {
  -webkit-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  background-image: url("../img/zen.jpg");
}

article.developer::before {
  -webkit-filter: blur(0.5px) grayscale(0.3) brightness(0.2);
  -moz-filter: blur(0.5px) grayscale(0.3) brightness(0.2);
  filter: blur(0.5px) grayscale(0.3) brightness(0.2);
  background-image: url("../img/bartnerd.png");
  background-position: top;
}

article.to-the-resque::before {
  -webkit-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  background-image: url("../img/superman.jpg");
}

article.steamclock::before {
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.4);
  filter: blur(1px) grayscale(0.3) brightness(0.4);
  background-image: url("../img/steamclock.jpg");
}

article.notcool::before {
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.1);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.1);
  filter: blur(1px) grayscale(0.3) brightness(0.1);
  background-image: url("../img/notcool.jpg");
}

article.notcool-gif::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("../img/notcool.gif");
}


article.bat-signal::before {
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.4);
  filter: blur(1px) grayscale(0.3) brightness(0.4);
  background-image: url("../img/Bat-Signal.jpg");
}

article.notcool-joey::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("../img/joey.gif");
}

article.bowling::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("../img/bowling.gif");
}

article.the-end::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("../img/ironman.gif");
}

article.programming::before {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  background-size: contain;
  background-image: url("../img/programming.gif");
}

article.programming {
  background-color: white;
  opacity: 0.95;
}